body {
  background-image: url("../images/simple-pattern.png") ;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: black;
  }
.page-header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    color: Black;
  }

  .rich-image {
    float: left;
    width: 270px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

  .left {
    float: left;
    padding: 0 10px 0 0;}

  #last-para {
      padding-top: 20px;
      margin-bottom: 150px;
      color: red;
  }

  /* Portfolio css */
  
  
  #portfolio-container {
    padding-top: 40px;
  }
  
  .portfolio-section {
    float: left;
    width: 100%;
    max-width: 750px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #ddd;
  }

  div.gallery {
    position: relative;
    float: left;
    width: 275px;
    margin: 20px 0 25px;
    padding: 0 6px;
    overflow: auto;
    }

  div.gallery img {
    width: 100%;
    height: auto;
    border: 0 none;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  * { box-sizing: border-box;  }
  
  /* contact */

  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type="submit"] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  
  
/* Footer section */
.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  background-color: blue;
  }

  /* Generic css */

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  body { 
    background-color: black;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  body { 
    background-color: orange;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  body {
    background-color: blue;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  body {
    background-color: gray;
  }
 }